.App {
  min-height: 100%;
  width: 100%;

  .App-inner {
    height: 80%;
  }

  .col-1 {
    width: 8.33%;
    display: inline-block;
    height: 100%;
  }

  .col-2 {
    width: 16.66%;
    display: inline-block;
    height: 100%;
  }

  .col-3 {
    width: 24.99%;
    display: inline-block;
    height: 100%;
  }

  .col-4 {
    width: 33.32%;
    display: inline-block;
    height: 100%;
  }

  .col-5 {
    width: 41.65%;
    display: inline-block;
    height: 100%;
  }

  .col-6 {
    width: 49.98%;
    display: inline-block;
    height: 100%;
  }

  .col-8 {
    width: 66.64%;
    display: inline-block;
    height: 100%;
  }

  .col-10 {
    width: 83.3%;
    display: inline-block;
    height: 100%;
  }
}


